.background-color1
{
    background-color: rgb(255, 183, 233);
}

.background-color2
{
    background-color: rgb(38, 192, 133);
}

.background-color3
{
    background-color: rgb(255, 129, 27);
}

.background-color4
{
    background-color: rgb(26, 62, 66);
}

.background-color5
{
    background-color: rgb(255, 58, 74);;
}

.background-color6
{
    background-color: rgb(158, 159, 253);
}

.background-color7
{
    background-color: rgb(207, 176, 0);
}

.background-color8
{
    background-color: rgb(221, 85, 255);
}